.loader_container{
    position: fixed;
    width:100%;
    height:100%;
    opacity:0.5;
    background-color: #000;
    z-index:150;
    text-align:center;
}

#followingBallsG{
margin:auto;
margin-top:25%;
position:relative;
position:relative;
width:128px;
height:10px;
}

.followingBallsG{
background-color:#000000;
position:absolute;
top:0;
left:0;
width:10px;
height:10px;
-moz-border-radius:5px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_followingBallsG;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.08s;
-webkit-animation-delay:0.08s;
-ms-animation-delay:0.08s;
-o-animation-delay:0.08s;
animation-delay:0.08s;
}

#followingBallsG_3{
-moz-animation-delay:0.16s;
-webkit-animation-delay:0.16s;
-ms-animation-delay:0.16s;
-o-animation-delay:0.16s;
animation-delay:0.16s;
}

#followingBallsG_4{
-moz-animation-delay:0.24s;
-webkit-animation-delay:0.24s;
-ms-animation-delay:0.24s;
-o-animation-delay:0.24s;
animation-delay:0.24s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:118px;
background-color:#FAC800;
}

100%{
left:0px;
background-color:#000000;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:118px;
background-color:#FAC800;
}

100%{
left:0px;
background-color:#000000;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:118px;
background-color:#FAC800;
}

100%{
left:0px;
background-color:#000000;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:118px;
background-color:#FAC800;
}

100%{
left:0px;
background-color:#000000;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:118px;
background-color:#FAC800;
}

100%{
left:0px;
background-color:#000000;
}
